* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 35vh;
}

.photo {
  width: 100%;
  height: 35vh;
  padding: 10px;
  border: none;
  border-radius: 1rem;
  object-fit: cover;
}

.productlist-photo {
  width: 100%;
  height: 30vh;
  border: none;
  border-radius: 1rem;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #00000085;
  padding: 16px 10px;
  border: none;
  border-radius: 0.2rem;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #000;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  color: #fff;
}

.swiper-pagination-bullet {
  --swiper-theme-color: red !important;
}

.product-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.productslist-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #fff;
  margin: 10px;
  padding: 10px;
}

.productslist-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 1rem;
}

.productlist-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
